*.agdai
Føns/**sel.com,as/tt.e ev junkie juls knoploc application hundredmeterskoven
Scapenetwork’michael maindal jensen’ spacehub 
Ebabecceabeasbec
Servers sub servers
Serviant’s’damiond
Xql
Xql.idn.blair
Xql
Quantum prosessers
1
2
3
4
Quantum helix melurixeum.,prosperity 
Hidxeil pocxtincut
Silicon processeres
1000 7000 44000 200000 460000 5720000
900 2000 7000 200800 240000 900 7 2
